################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Syncify/v14
/bin/Debug
/obj/Debug
/packages
/Syncify.csproj.user
